Package            Version   Editable project location
------------------ --------- -----------------------------------------------------------------
astroid            2.15.6
blinker            1.6.2
certifi            2023.7.22
charset-normalizer 3.2.0
click              8.1.7
dill               0.3.7
exceptiongroup     1.1.2
Flask              2.3.3
idna               3.4
iniconfig          2.0.0
isort              5.12.0
itsdangerous       2.1.2
Jinja2             3.1.2
lazy-object-proxy  1.9.0
main               0.0.0     /home/marcinqforthetux/Dokumenty/moje-programy/pp4_python_version
MarkupSafe         2.1.3
mccabe             0.7.0
packaging          23.1
pip                22.0.2
platformdirs       3.10.0
pluggy             1.2.0
pylint             2.17.5
pytest             7.4.0
setuptools         59.6.0
tomli              2.0.1
tomlkit            0.12.1
typing_extensions  4.7.1
urllib3            2.0.4
Werkzeug           2.3.7
wrapt              1.15.0
